;PLUGIN=ppm-switchmenu
-|M_ppmSwitchSub =
M_ppmSwitchSub = {
&Edit plugin setting = *string o,name=%*input(-title:"Edit Plugin config" -mode:e -k *completelist -file:"%*getcust(S_ppm#global:cache)\list\enable_plugins.txt")
	*ifmatch 0,0%so"name"%:*string o,name=ppx-plugin-manager
	*script %*getcust(S_ppm#global:ppm)\script\jscript\set.js,%so'name',user,editor
&Compare plugin setting = *string o,name=%*input(-title:"Compare user with default plugin config" -mode:e -k *completelist -file:"%*getcust(S_ppm#global:cache)\list\enable_plugins.txt")
	*ifmatch 0,0%so"name"%:*string o,name=ppx-plugin-manager
	*script %*getcust(S_ppm#global:ppm)\script\jscript\set.js,%so'name',user,compare
&Load default plugin = *string o,name=%*input(-title:"Load plugin default config" -mode:e -k *completelist -file:"%*getcust(S_ppm#global:cache)\list\enable_plugins.txt")
	*script %*getcust(S_ppm#global:ppm)\script\jscript\set.js,%so'name',def,set
&Set plugin = *string o,name=%*input(-title:"Set plugin config" -mode:e -k *completelist -file:"%*getcust(S_ppm#global:cache)\list\enable_plugins.txt")
	*script %*getcust(S_ppm#global:ppm)\script\jscript\set.js,%so'name',user,set
&Unset plugin = *string o,name=%*input(-title:"Unset Plugin config" -mode:e -k *completelist -file:"%*getcust(S_ppm#global:cache)\list\enable_plugins.txt")
	*script %*getcust(S_ppm#global:ppm)\script\jscript\unset.js,%so"name",0
-- =
&Edit list = *string o,name=%*input("%*getcust(S_ppm#global:cache)\list\" -title:"Edit list" -select:l -mode:f -k *completelist)
	*ifmatch "o:e,a:d-",%so"name"%:*execute ,*cd %*getcust(S_ppm#global:cache)%%:%*getcust(S_ppm#user:editor) %so"name"
&Manage local-cfg = *setcust K_ppmTemp:^ENTER,*script %%*getcust(S_ppm#global:ppm)\script\jscript\managefiles.js
	%Obq *ppc -single -bootid:p -k %%j"%*getcust(S_ppm#user:cfgdir)"%%:*mapkey use,K_ppmTemp%%&*linemessage !"読み込みたい順番にファイルをマーク、CTRL+ENTERで決定
-- =
&Install plugins = %"ppx-plugin-manager"%Q"プラグインのインストールを開始します"
	*script %*getcust(S_ppm#global:ppm)\script\jscript\install.js
&Update plugins = %"ppx-plugin-manager"%Q"プラグインのアップデートを開始します"
	*script %*getcust(S_ppm#global:ppm)\script\jscript\update.js
&Setup registered plugins = %"ppx-plugin-manager"%Q"登録済みプラグイン設定を読み込みます"
	*ppb -bootid:p%:*wait 300%:%On *ppb -c *script %*getcust(S_ppm#global:ppm)\script\jscript\setup.js,reset,0
&Unset registered plugins = %"ppx-plugin-manager"%Q"登録済みプラグイン設定を解除します"
	*ppb -bootid:p%:*wait 300%:%On *ppb -c *script %*getcust(S_ppm#global:ppm)\script\jscript\setup.js,unset,0
-- =
&Help plugin = *string o,name=%*input(-title:"ppmHelp" -mode:e -k *completelist -file:"%*getcust(S_ppm#global:cache)\list\enable_plugins.txt")
	*ifmatch 0,0%so"name"%:*string o,name=ppx-plugin-manager
	*execute ,%*getcust(S_ppm#user:help) %*getcust(S_ppm#plugins:%so"name")\doc\help.txt
&Usage information = *script %*getcust(S_ppm#global:ppm)\script\jscript\usage.js
change use &Jscript version = *string o,pwd=%*name(DCPN,"%*getcust(S_ppm#plugins:ppx-plugin-manager)")
	*string o,usejs=%*input("%*getcust(_others:usejs9)" -title:"usejs9の変更 [0=JS_5.7 | 1=JS9_5.7 | 2=JS9_5.8 | 3=JS9_ECMA5 | 4=Chakra_ECMA6]" -mode:e)
	*setcust _others:usejs9=%so"usejs"
	*string o,type=jscript
	*if 4==%so"usejs"%:*string o,type=ecma
	*setcust S_ppm#global:module=%so"pwd"module\%so"type"
	*setcust S_ppm#global:lib=%so"pwd"lib\%so"type"
	*setcust S_ppm#global:scripttype=%so"type"
	*ppb -bootid:p%:*wait 300%:%Oni- *ppb -c *script %*getcust(S_ppm#global:ppm)\script\jscript\setup.js,reset,1
-- =
&Initial PPx = %"ppx-plugin-manager"%Q"PPxを初期化します"
	*ppcust CINIT%:*pptray -c *closeppx C*%%:*wait 300%%:*ppc
&Reset PPx = %"ppx-plugin-manager"%Q"PPxを初期化後、ppmを読み込みます"
	*string o,ppm=%*getcust(S_ppm#global:ppm)
	*string o,home=%*getcust(S_ppm#global:home)
	%Osq *ppcust CINIT%&*script "%so'ppm'\script\jscript\restore.js","%so'home'"
re&Boot = *pptray -c *closeppx%%:*wait 100%%:*ppc
-- =
&Compare backup cfg = *setcust K_ppmTemp:^o,*insert %*getcust(S_ppm#global:cache)\backup
	*string o,path=%*input("%*getcust(S_ppm#global:cache)\backup\" -title:"Compare backup cfg [file1 file2]  ctrl+o: paste parent path" -mode:e -k *completelist -history:g%%:*mapkey use,K_ppmTemp)
	*execute ,%*getcust(S_ppm#user:compare) %so"path"
	*deletecust "K_ppmTemp"
-- =
&Backup cfg = %K"@SAVECUST"%:%Odb *ppcust CD %*getcust(S_ppm#global:cache)\backup\%*input("user" -title:"バックアップファイル名を編集" -mode:e).CFG -nocomment
	*linemessage !"Backup completion
&Load cfg = *string o,path=%*input("%*getcust(S_ppm#global:cache)\backup\" -title:"Load PPxCFG" -select:l -k *completelist)
	*ppb -k *ppcust CS %so"path"%%:%%"ppx-plugin-manager"%%Q"設定を更新しました。PPxを再起動します"%%:*closeppx C*%%:*ppc -k *closeppx %%n
-- =
&Cleanup plugins = %"ppx-plugin-manager"%Q"使っていないプラグインを削除します"
	*script %*getcust(S_ppm#global:ppm)\script\jscript\cleanup.js
&Uninstall ppm = %"ppx-plugin-manager"%Q"アンインストールを実行します"%:*set ppm_uninstall=1%:*ppb -bootid:p%:*wait 300%:%On *ppb -c *script %*getcust(S_ppm#global:ppm)\uninstall.js
-- =
&Regist restore = *script %*getcust(S_ppm#global:ppm)\script\jscript\regist_restore.js,set
&Unregist restore = *script %*getcust(S_ppm#global:ppm)\script\jscript\regist_restore.js,unset
}
